# Android Studio 
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Virtual Devices and location
.idea/deploymentTargetDropDown.xml

# Local configuration file (sdk, paths etc.)
/local.properties

# References and code info
/_code_references.txt
google-services.json

